{% extends "./base.html" %}

{% block title %}Aviso{% endblock %}

{% block body %}

<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="card" style="width: 40rem; margin-top: 20px;">
        <img src="https://images.pexels.com/photos/3762940/pexels-photo-3762940.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Autenticación requerida</h5>
          <p class="card-text">Para acceder al contenido de esta página necesita iniciar sesión, en caso de no tener una cuenta a su nombre, por favor regístrese.</p>
          <a href="/acceder" class="btn btn-primary">Iniciar Sesión</a>
          <a href="/registrar" class="btn btn-primary" style="margin-left: 10px;">Registrarse</a>
        </div>
    </div>
</div>
  
{% endblock %}