{% extends "./base.html" %}

{% block title %}Editar Usuario{% endblock %}

{% block body %}

<div id="edicion" class="modal-dialog modal-1g" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Editar Usuario {{ object }}</h2>
            <button class="close" type="button" data-dismiss="modal" aria-Label="Close"></button>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_edicion" action="{% url 'editar_usuario' object.username %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div id="errores">

                </div>
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" onclick="cerrar_modal_edicion();">Cancelar</button>
                <button id="boton_creacion" class="btn btn-primary" type="button" onclick="editar();">Confirmar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %} 