{% extends "./base.html" %}

{% block title %}Dónde hay?{% endblock %}

{% block body %}

<div class="row" style="margin-top: 40px;">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Buscar Disponibilidad</h2>
        <div id="autocomplete" class="autocomplete">
            <input class="autocomplete-input" />
            <ul class="autocomplete-result-list"></ul>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h2>Resultados</h2>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre Farmacia</th>
                        <th>Telefono</th>
                        <th>Existencia</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block customScript %}
<script>
    new Autocomplete('#autocomplete', {

        search: input => {
            const url = '/buscarMedicamento/?termino=' + input
            return new Promise(resolve => {
                fetch(url)
                    .then(response => response.json())
                    .then(json => {
                        console.log(json.data)
                        resolve(json.data)
                    })
            });
        },
        onSubmit: result => {
            onSubmitClicked(result)
        }
    });

    function onSubmitClicked(arg) {
        $.ajax({
            type: "GET",
            url: "/buscarDisponibilidad",
            data: {
                'termino': arg
            },
            success: function (response) {
                $("tbody").empty();
                $.each(response, function (key, value) {
                    var count = key;
                    var nombre = value.nombre;
                    var telefono = value.telefono;
                    var existencia = value.existencia;
                    $("tbody").append(
                        "<tr><td>" + count + "</td><td>" + nombre + "</td><td>" + telefono + "</td><td>" + existencia + "</td></tr>"
                    )
                })
            }
        });
    };
</script>

{% endblock %}