{% extends "./index.html" %}

{% load static %}

{% block mycss %}{% endblock %}

{% block title %}Gestionar Farmacias{% endblock %}

{% block content %}

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <a href="/registrar_farmacia" class="btn btn-md btn-secondary">Registrar Farmacia</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <br>
                    <table id="miTabla" class="table table-bordered table-striped" data-url="{% url 'lista_de_farmacias' %}">
                        <caption>
                            Gestionar Farmacias 
                        </caption>
                        <thead>
                            <tr>
                                <th class="centered">#</th>
                                <th class="centered">Nombre</th>
                                <th class="centered">Provincia</th>
                                <th class="centered">Municipio</th>
                                <th class="centered">Dirección</th>
                                <th class="centered">Teléfono</th>
                                <th class="centered">Tipo</th>
                                <th class="centered">Turno</th>
                                <th class="centered">Activa</th>
                                <th class="centered">Opciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- /.modal -->
    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Editar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form id="edicionFarmaciaForm">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
                                <input type="text" class="form-control" id="id" hidden name="id">
                            </div>
                            <div class="form-group">
                                <label for="name">Direccion</label>
                                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion">
                            </div>
                            <div class="form-group">
                                <label for="name">Telefono</label>
                                <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono">
                            </div>
                            <div class="form-group">
                                <label>Turno</label>
                                <select class="form-control" id="turno_selector" name="id_turno">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Tipo</label>
                                <select class="form-control" id="tipo_selector" name="id_tipo">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Municipio</label>
                                <select class="form-control" id="municipio_selector" name="id_munic">
                                </select>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}      

{% block subtitle %}Farmacias{% endblock %}

{% block custom_scripts %}
<script src="{% static 'js/lista_de_farmacias.js' %}"></script>
{% endblock %}



