{% extends "./base.html" %}

{% block title %}Gestionar Farmacias{% endblock %}

{% block body %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/data_tables.css' %}">
</head>


    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <div>
                    <a href="/registrar_farmacia" class="btn btn-sm btn-secondary">Registrar nueva farmacia</a>
                </div>
                <br>
                <table id="datatable-farmacias" class="table">
                    <caption>
                        Gestionar Farmacias 
                    </caption>
                    <thead>
                        <tr>
                            <th class="centered">#</th>
                            <th class="centered">Nombre</th>
                            <th class="centered">Provincia</th>
                            <th class="centered">Municipio</th>
                            <th class="centered">Dirección</th>
                            <th class="centered">Teléfono</th>
                            <th class="centered">Tipo</th>
                            <th class="centered">Turno</th>
                            <th class="centered">Activa</th>
                            <th class="centered">Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_farmacias"></tbody>
                </table>
            </div>
        </div>
    </div>
    

<!--Custom JS-->
<script src="{% static 'js/lista_de_farmacias.js' %}"></script>


{% endblock %}

