{% extends "./index_farmaceutico.html" %}

{% load static %}

{% block mytitle %}Gestionar Medicamentos{% endblock %}

{% block mycss %}{% endblock %}

{% block title %}Gestionar Medicamentos en Farmacia{% endblock %}

{% block content %}

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <a href="/agregar_medicfarma" class="btn btn-md btn-secondary">Agregar medicamento</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <br>
                    <table id="miTabla" class="table table-bordered table-striped" data-url="{% url 'lista_de_medicfarma' %}">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Cantidad máxima</th>
                                <th>Precio</th>
                                <th>Origen</th>
                                <th>Restricción</th>
                                <th>Clasificación</th>
                                <th>Existencia</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

   
    <!-- Aquí mostrar la lista de medicamentos con checkboxes para selección -->
    <form id="agregarMedicamentosForm">{% csrf_token %}
        {% for medicamento in medicamentos_list %}
            <div>
                <input type="checkbox" name="medicamentos_seleccionados" value="{{ medicamento.id }}">
                {{ medicamento.nombre }}
            </div>
        {% endfor %}
        <button type="button" id="agregarMedicamentosBtn">Agregar Medicamentos</button>
    </form>


{% endblock %}   

{% block subtitle %}Medicamentos{% endblock %}

{% block custom_scripts %}
<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>
<script src="{% static 'js/lista_de_medicfarma.js' %}"></script>
{% endblock %}