{% extends "./index_especialista.html" %}

{% load static %}

{% block mytitle %}Gestionar Clasificación de Medicamentos{% endblock %}

{% block mycss %}{% endblock %}

{% block title %}Gestionar Clasificaciones de Medicamentos{% endblock %}

{% block content %}

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <button id="registrarClasificacionMedicButton" class="btn btn-md btn-success"><i class="fa-solid fa-plus"></i> Registrar Nueva Clasificación</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <br>
                    <table id="miTabla" class="table table-bordered table-striped" data-url="{% url 'lista_clasificaciones_de_medicamentos' %}">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Clasificación de Medicamentos</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- /.modal -->
    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Editar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form id="edicionClasificacionMedicamentoForm">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Clasificación de Medicamento</label>
                                <input type="text" class="form-control" id="clasificacion" name="nombre" placeholder="Clasificacion">
                                <input type="text" class="form-control" id="id" hidden name="id">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->


    <!-- Modal para registrar tipo de farmacia -->
    <div class="modal fade" id="modal-registrar-clasificacion">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Registrar Clasificación de Medicamento</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="registroClasificacionMedicForm">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="nuevaClasificacionMedic">Nombre:</label>
                                <input type="text" class="form-control" id="nuevaClasificacionMedic" name="nombre" placeholder="Clasificación del Medicamento" required>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    

{% endblock %}   

{% block subtitle %}Clasificación{% endblock %}

{% block custom_scripts %}
<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>
<script src="{% static 'js/lista_clasificaciones_de_medicamentos.js' %}"></script>
{% endblock %}
