{% extends "./index_farmaceutico.html" %}

{% load static %}

{% block mytitle %}Medicamentos Disponibles{% endblock %}

{% block mycss %}{% endblock %}

{% block title %}Lista de Medicamentos Disponibles{% endblock %}

{% block content %}

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <br>
                    <table id="miTabla" class="table table-bordered table-striped" data-url="{% url 'lista_de_medicamentos_disponibles' %}">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Formato</th>
                                <th>Cantidad máxima</th>
                                <th>Precio</th>
                                <th>Origen</th>
                                <th>Restricción</th>
                                <th>Clasificación</th>
                                <th>Ver Info</th>
                                <th>Exportar</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Mostrar Descripcion-->
    <div class="modal fade" id="modaldesc-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Descripción</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="form-group">
                            <div id="descripcionMostrar" class="form-control-plaintext"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal Mostrar Descripcion -->


    <!-- Modal Mostrar Reacciones-->
    <div class="modal fade" id="modalreac-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Reacciones</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="form-group">
                            <div id="reaccionesMostrar" class="form-control-plaintext"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal Mostrar Reacciones -->

    
{% endblock %}   

{% block subtitle %}Medicamentos{% endblock %}

{% block custom_scripts %}
<script src="{% static 'js/lista_de_medicamentos_disponibles.js' %}"></script>
{% endblock %}