{% extends "./index_farmaceutico.html" %}

{% block mytitle %}Salidas{% endblock %}

{% block mycss %}{% endblock %}

{% block title %}Total de Ventas del Día{% endblock %}

{% block content %}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Ventas Registradas el Día: {{ salidas.0.fecha_movimiento|date:"d-m-Y" }}</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <br>
                <table id="miTabla" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Medicamento</th>
                            <th>Formato</th>
                            <th>Cantidad</th>
                            <th>Fecha de Movimiento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for salida in salidas %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ salida.id_farmaciaMedicamento.id_medic.nombre }}</td>
                            <td>{{ salida.id_farmaciaMedicamento.id_medic.id_formato.nombre }}</td>
                            <td>{{ salida.cantidad }}</td>
                            <td>{{ salida.fecha_movimiento|date:"d-m-Y" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block subtitle %}Salidas{% endblock %}

{% block custom_scripts %}
<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/gestionar_salidas.js' %}"></script>
{% endblock %}
