
{% extends "./index_especialista.html" %}

{% load static %}

{% block mytitle %}Gestionar Municipios{% endblock %}

{% block mycss %}{% endblock %}

{% block title %}Gestionar Municipios{% endblock %}

{% block content %}

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <button id="registrarMunicipioButton" class="btn btn-md btn-success"><i class="fa-solid fa-plus"></i> Registrar Nuevo Municipio</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <br>
                    <table id="miTabla" class="table table-bordered table-striped" data-url="{% url 'lista_de_municipios' %}">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Municipio</th>
                                <th>Provincia a la que pertenece </th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- /.modal Editar -->
    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Editar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form id="edicionMunicipioForm">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Municipio</label>
                                <input type="text" class="form-control" id="municipio" name="nombre" placeholder="Municipio">
                                <input type="text" class="form-control" id="id" hidden name="id">
                            </div>
                            <div class="form-group">
                                <label>Provincia</label>
                                <select class="form-control" id="provicia_selector" name="id_prov">
                                </select>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->


    <!-- Modal Registrar Nuevo Municipio -->
    <div class="modal fade" id="modal-registrar-municipio">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Registrar Municipio</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="registroMunicipioForm">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="nuevoMunicipio">Nombre:</label>
                                <input type="text" class="form-control" id="nuevoMunicipio" name="nombre" placeholder="Municipio" required>
                            </div>
                            <div class="form-group">
                                <label for="provinciaRegistro">Provincia:</label>
                                <select class="form-control" id="provinciaRegistro" name="id_prov" required>
                                </select>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}   

{% block subtitle %}Municipios{% endblock %}

{% block custom_scripts %}
<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>
<script src="{% static 'js/lista_de_municipios.js' %}"></script>
{% endblock %}

    

