{% extends "./index.html" %}

{% load static %}

{% block mytitle %}Gestionar Usuarios{% endblock %}

{% block mycss %}{% endblock %}

{% block title %}Gestionar Usuarios{% endblock %}

{% block content %}
    
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filtroModal">Exportar Usuarios</button><br>
                </div>
                <div style="margin-top: 10px;">
                    <a href="/registrar_farmaceutico" class="btn btn-md btn-success mr-2"><i class="fa-solid fa-plus"></i> Farmacéutico</a>
                    <a href="/registrar_especialista" class="btn btn-md btn-success mr-2"><i class="fa-solid fa-plus"></i> Especialista</a>
                    <a href="/registrar_administrador" class="btn btn-md btn-success"><i class="fa-solid fa-plus"></i> Administrador</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <br>
                    <table id="miTabla" class="table table-bordered table-striped" data-url="{% url 'lista_de_usuarios' %}">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Usuario</th>
                                <th>Dirección de correo</th>
                                <th>Roles</th>
                                <th>Fecha de registro</th>
                                <th>Último acceso</th>
                                <th>Activo</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div> 
    </div>


    <!-- /.modal -->
    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Editar</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form id="edicionUsuarioForm">
                    {% csrf_token %}
                    <div class="card-body">
                      <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="first_name" placeholder="Nombre">
                      </div>
                      <div class="form-group">
                        <label for="name">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" name="last_name" placeholder="Apellidos">
                        <input type="text" class="form-control" id="username" hidden name="username">
                      </div>
                      <div class="form-group" id="form-selector-farmacias">
                        <label>Farmacias</label>
                        <select class="form-control" id="farmacia_selector" name="id_farma">
                        </select>
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                  </form>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->



    <!-- Filtro Modal -->
    <div class="modal fade" id="filtroModal" tabindex="-1" role="dialog" aria-labelledby="filtroModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="filtroModalLabel">Filtrar Usuarios por:</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form id="filtroForm">
                      {% csrf_token %}
                      <div class="form-group">
                          <label for="username">Nombre de Usuario</label>
                          <input type="text" class="form-control" id="username" name="username" placeholder="Todos">
                          <input type="hidden" name="tipo_objeto" value="usuario">
                      </div>
                      <div class="form-group">
                          <label for="fecha_inicio">Fecha de Registro Inicio</label>
                          <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio">
                      </div>
                      <div class="form-group">
                          <label for="fecha_fin">Fecha de Registro Fin</label>
                          <input type="date" class="form-control" id="fecha_fin" name="fecha_fin">
                      </div>
                      <div class="form-group">
                          <label for="rol">Rol</label>
                          <select class="form-control" id="rol" name="rol">
                              <option value="">Todos</option>
                              <option value="admin">Administrador</option>
                              <option value="especialista">Especialista</option> 
                              <option value="farmacéuticos">Farmacéuticos</option>
                              <option value="clientes">Clientes</option> 
                          </select>
                      </div>
                      <div class="form-group">
                          <label for="activo">Actividad</label>
                          <select class="form-control" id="activo" name="activo">
                              <option value="">Todos</option>
                              <option value="True">Activos</option>
                              <option value="False">Inactivos</option>
                          </select>
                      </div>
                      <button type="button" class="btn btn-primary" id="generarReporteBtn">Generar Reporte</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!-- /.modal -->


{% endblock %}   

{% block subtitle %}Usuarios{% endblock %}

{% block custom_scripts %}

<script>
    $(document).ready(function() {
        $('#generarReporteBtn').click(function() {
            var form = $('#filtroForm');
            $.ajax({
                url: '{% url "generar_reporte_pdf" %}',
                type: 'POST',
                data: form.serialize(),
                success: function(response, status, xhr) {
                    if (xhr.getResponseHeader('content-type') === 'application/json') {
                        var jsonResponse = JSON.parse(response);
                        Swal.fire({
                            title: 'Error',
                            text: jsonResponse.error,
                            icon: 'error',
                            confirmButtonText: 'Aceptar'
                        });
                    } else {
                        var blob = new Blob([response], { type: 'application/pdf' });
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = 'reporte_usuarios.pdf';
                        link.click();
                        $('#filtroModal').modal('hide');

                        // Show SweetAlert notification
                        Swal.fire({
                            title: 'Éxito',
                            text: 'El reporte se ha generado exitosamente.',
                            icon: 'success',
                            confirmButtonText: 'Aceptar'
                        });
                    }
                },
                error: function(response) {
                    var jsonResponse = response.responseJSON;
                    Swal.fire({
                        title: 'Error',
                        text: jsonResponse.error,
                        icon: 'error',
                        confirmButtonText: 'Aceptar'
                    });
                }
            });
        });

        // Configurar el atributo max en los campos de fecha para evitar fechas futuras
        var today = new Date().toISOString().split('T')[0];
        $('#fecha_inicio').attr('max', today);
        $('#fecha_fin').attr('max', today);

        // Validar que la fecha de inicio no sea mayor que la fecha de fin
        $('#fecha_inicio, #fecha_fin').change(function() {
            var fechaInicio = $('#fecha_inicio').val();
            var fechaFin = $('#fecha_fin').val();

            if (fechaInicio && fechaFin && fechaInicio > fechaFin) {
                Swal.fire({
                    title: 'Error',
                    text: 'La fecha de inicio no puede ser mayor que la fecha de fin.',
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                });
                // Limpiar los campos de fecha para que el usuario vuelva a seleccionarlos
                $('#fecha_inicio').val('');
                $('#fecha_fin').val('');
            }
        });
    });
</script>


<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>
<script src="{% static 'js/lista_de_usuarios.js' %}"></script>
{% endblock %}

