{% extends "./index_farmaceutico.html" %}

{% load static %}

{% block mytitle %}Gestionar Medicamentos{% endblock %}

{% block mycss %}{% endblock %}

{% block title %}Gestionar Medicamentos{% endblock %}

{% block content %}

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <a href="/registrar_medicamento" class="btn btn-md btn-secondary">Registrar medicamento</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <br>
                    <table id="miTabla" class="table table-bordered table-striped" data-url="{% url 'lista_de_medicamentos' %}">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Cantidad máxima</th>
                                <th>Precio</th>
                                <th>Origen</th>
                                <th>Restricción</th>
                                <th>Clasificación</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- /.modal -->
    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Editar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form id="edicionMedicamentoForm">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
                                <input type="text" class="form-control" id="id" hidden name="id">
                            </div>
                            <div class="form-group">
                                <label for="name">Descripción</label>
                                <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion">
                            </div>
                            <div class="form-group">
                                <label for="name">Cantidad Máxima</label>
                                <input type="text" class="form-control" id="cant_max" name="cant_max" placeholder="Cant_max">
                            </div>
                            <div class="form-group">
                                <label for="precio">Precio</label>
                                <input type="text" class="form-control" id="precio" name="precio" placeholder="Precio">
                            </div>
                            <div class="form-group">
                                <label for="origen">Origen</label>
                                <select class="form-control" id="origen" name="origen">
                                    <option value="1">Natural</option>
                                    <option value="0">Fármaco</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Restricción</label>
                                <select class="form-control" id="restriccion_selector" name="id_restriccion">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Clasificación</label>
                                <select class="form-control" id="clasificacion_selector" name="id_clasificacion">
                                </select>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}   

{% block subtitle %}Medicamentos{% endblock %}

{% block custom_scripts %}
<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>
<script src="{% static 'js/lista_de_medicamentos.js' %}"></script>
{% endblock %}