{% extends "./index.html" %}

{% load static %}

{% block mycss %}{% endblock %}

{% block title %}Gestionar Usuarios{% endblock %}

{% block content %}
    
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <div>
                    <a href="/registrar_farmaceutico" class="btn btn-sm btn-secondary">Registrar farmacéutico</a>
                </div>
                <br>
                <table id="datatable-usuarios" class="table">
                    <thead>
                        <tr>
                            <th class="centered">#</th>
                            <th class="centered">Nombre</th>
                            <th class="centered">Apellidos</th>
                            <th class="centered">Nombre de usuario</th>
                            <th class="centered">Dirección de correo</th>
                            <th class="centered">Roles</th>
                            <th class="centered">Activo</th>
                            <th class="centered">Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_usuarios"></tbody>
                </table>
            </div>
        </div> 
    </div>
    
{% endblock %}   

{% block subtitle %}Usuarios{% endblock %}

{% block custom_scripts %}
<script src="{% static 'js/lista_de_usuarios.js' %}"></script>
{% endblock %}

