{% extends "./base.html" %}

{% block title %}Gestionar Municipios{% endblock %}

{% block body %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/data_tables.css' %}">
</head>


    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <div>
                    <a href="/registrar_municipio" class="btn btn-sm btn-secondary">Registrar Municipio</a>
                </div>
                <br>
                <table id="datatable-municipios" class="table">
                    <caption>
                        Gestionar Municipios 
                    </caption>
                    <thead>
                        <tr>
                            <th class="centered">#</th>
                            <th class="centered">Nombre</th>
                            <th class="centered">Apellidos</th>
                            <th class="centered">Nombre de usuario</th>
                            <th class="centered">Dirección de correo</th>
                            <th class="centered">Roles</th>
                            <th class="centered">Activo</th>
                            <th class="centered">Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_municipios"></tbody>
                </table>
            </div>
        </div>
    </div>
    

<!--Custom JS-->
<script src="{% static 'js/lista_de_municipios.js' %}"></script>


{% endblock %}

