{% extends "./index_farmaceutico.html" %}

{% load static %}

{% block mytitle %}Mi Farmacia{% endblock %}

{% block mycss %}{% endblock %}

{% block title %}Gestionar Medicamentos en Farmacia: {{ farmacia_del_farmaceutico }}.</p>{% endblock %}

{% block content %}

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filtroModal"><i class="fa-solid fa-file-arrow-down fa-bounce"></i> Exportar Medicamentos</button>
                <a href="/realizar_cierre_farmacia" class="btn btn-md btn-danger" style="margin-left: 10px;">Realizar Cierre <i class="fa-solid fa-person-walking-arrow-right"></i></a>
                <a href="{% url 'venta_grafica_farmacia' farmacia_id %}" class="btn btn-md btn-success" style="margin-left: 10px;">Gráfico de ventas <i class="fa-solid fa-chart-simple"></i></a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <br>
                    <table id="miTabla" class="table table-bordered table-striped" data-url="{% url 'lista_de_medicfarma' %}">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Formato</th>
                                <th>Precio</th>
                                <th>Origen</th>
                                <th>Restricción</th>
                                <th>Clasificación</th>
                                <th>Existencias</th>
                                <th>Ver Info</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>


     <!-- /.modal Mostrar Descripcion-->
     <div class="modal fade" id="modaldesc-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Descripción</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="form-group">
                            <div id="descripcionMostrar" class="form-control-plaintext"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal Mostrar Descripcion -->


    <!-- /.modal Mostrar Reacciones-->
    <div class="modal fade" id="modalreac-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Reacciones</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="form-group">
                            <div id="reaccionesMostrar" class="form-control-plaintext"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal Mostrar Reacciones -->


    <!-- Filtro Modal -->
    <div class="modal fade" id="filtroModal" tabindex="-1" role="dialog" aria-labelledby="filtroModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filtroModalLabel">Filtrar Medicamentos por:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="filtroForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Todos">
                            <input type="hidden" name="tipo_objeto" value="medicfarma">
                        </div>
                        <div class="form-group">
                            <label for="formato">Formato</label>
                            <select class="form-control" id="formato" name="formato">
                                <option value="">Todas los formatos</option>
                                {% for formato in formatos %}
                                    <option value="{{ formato.nombre }}">{{ formato.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="municipio">Restricción</label>
                            <select class="form-control" id="restriccion" name="restriccion">
                                <option value="">Todos las restricciones</option>
                                {% for restriccion in restricciones %}
                                    <option value="{{ restriccion.nombre }}">{{ restriccion.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tipo">Clasificación</label>
                            <select class="form-control" id="clasificacion" name="clasificacion">
                                <option value="">Todos las clasificaciones</option>
                                {% for clasificacion in clasificaciones %}
                                    <option value="{{ clasificacion.nombre }}">{{ clasificacion.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="turno">Orígen</label>
                            <select class="form-control" id="origen" name="origen">
                                <option value="">Todos los orígenes</option>
                                    <option value="1">Natural</option>
                                    <option value="0">Fármaco</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary" id="generarReporteBtn">Generar Reporte</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->


{% endblock %}   

{% block subtitle %}Medicamentos{% endblock %}

{% block custom_scripts %}

<script>
    $(document).ready(function() {
        $('#generarReporteBtn').click(function() {
            var form = $('#filtroForm');
            $.ajax({
                url: '{% url "generar_reporte_pdf" %}',
                type: 'POST',
                data: form.serialize(),
                success: function(response, status, xhr) {
                    if (xhr.getResponseHeader('content-type') === 'application/json') {
                        var jsonResponse = JSON.parse(response);
                        Swal.fire({
                            title: 'Error',
                            text: jsonResponse.error,
                            icon: 'error',
                            confirmButtonText: 'Aceptar'
                        });
                    } else {
                        var blob = new Blob([response], { type: 'application/pdf' });
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = 'reporte_medicfarma.pdf';
                        link.click();
                        $('#filtroModal').modal('hide');

                        // Show SweetAlert notification
                        Swal.fire({
                            title: 'Éxito',
                            text: 'El reporte se ha generado exitosamente.',
                            icon: 'success',
                            confirmButtonText: 'Aceptar'
                        });
                    }
                },
                error: function(response) {
                    var jsonResponse = response.responseJSON;
                    Swal.fire({
                        title: 'Error',
                        text: jsonResponse.error,
                        icon: 'error',
                        confirmButtonText: 'Aceptar'
                    });
                }
            });
        });
    });
</script>

<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>
<script src="{% static 'js/lista_de_medicfarma.js' %}"></script>
{% endblock %}