{% extends "./base.html" %}

{% block title %}Registrar Farmacéutico{% endblock %}

{% block body %}

{% load crispy_forms_tags %}

<form action="" method="POST">{% csrf_token %}
    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
           <h3 class="border-bottom mb-4" style="text-align: center">Registrar Farmacéutico</h3>
           {{ form | crispy }}   
           <button type="submit" class="btn btn-dark btn-md btn-block" type="button" style="margin-left: 175px;">Registrar</button> 
        </div> 
    </div>
</form>

{% endblock %} 