.existencia-alta {
    color: green;
    font-weight: bold;
    font-size: 14px;
}
.existencia-baja {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

#mapa {
    height: 500px;
    position: relative;
}

#routeIcon {
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 1000;
    top: 120px; /* Ajustar según sea necesario */
    left: 10px; /* Ajustar según sea necesario */
    background-color: white;
    border: 1.5px solid #ccc;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    display: none; /* Asegúrate de cambiar esto si quieres que se muestre */
}

.fa-route {
    font-size: 24px; /* Tamaño del icono */
    line-height: 1; /* Añadido */
};